extends layout

block head 
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

block content

  section.container
    h1 My Todo List
    h2 Upcoming
    - each todo in todos
      - if (!todo.done)
        section.row
          section.span9
            label.checkbox
              input(type="checkbox")
              | #{todo.description}
          section.span3.text-right
              | #{todo.due.toDateString()}
    h2 Done
    - each todo in todos
      - if (todo.done)
        section.row
          input(type="checkbox", checked="true")
          del #{todo.description}
        section.span3.text-right
          | #{todo.due.toDateString()}
